.fotorama__active {
    .fotorama__dot {
        background-color: #005CFF !important;
        border-color: #005CFF !important;
    }
}

.fotorama__dot {
    height: 8px !important;
    width: 8px !important;
}

.fotorama__thumb-border {
    &:extend(.fotorama-border-box);
    &:extend(.fotorama-print-background);
    border: 1px solid #005CFF;
}

