// Top banner | Mobile Disable
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .plp-category-header {

        .top-banner {
            display: none;
        }
    }
}



.plp-category-header{
    width: 100%;
    .category-title{
        text-align: center;
        height: 44px;
        color: #000000;

        .text{
            font-weight: 700;
            font-size: 32px;
        }
    }
    .top-banner{
        display: flex;
        justify-content: center;
        border-radius: 8px;
        .banner-image{
            width: 1259px;
            height: 200px;
            padding-bottom: 37px;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}
